<a class="search-item" href="/app/items/{{id}}">
    <div class="search-item__picture">
        <img src="{{thumbnail}}" alt="{{title}}" />
    </div>
    <div class="search-item__description">
        <span class="search-item__price">$ {{price}}</span>
        <i class="search-item__freeshipment"></i>
        <p class="search-item__title">{{title}}<p>
    </div>
    <div class="search-item__location">{{address.state_name}}</div>
</a>